@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --font-family: Consolas, monaco, monospace;
  /* , 'Fira Code', 'Courier New', Courier, monospace; */
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 16px;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

.terminal-container {
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  cursor: text;
  line-height: 1;
}

.terminal-welcome {
  white-space: pre;
  margin-bottom: 2px;
}

.terminal-welcome>div {
  margin-bottom: 2px;
}

.terminal-welcome br {
  display: block;
  margin-bottom: 2px;
}

.terminal-prompt {
  /* font-weight: bold; */
  white-space: pre;
  margin-right: 0px;
}

.terminal-line {
  display: flex;
  margin-bottom: 2px;
  flex-wrap: wrap;
}

.command-output {
  /* margin-left: 16px; */
  /* margin-top: 4px; */
  margin-bottom: 2px;
  color: #cccccc;
  white-space: pre-wrap;
  word-break: break-all;
}

.input-container {
  display: flex;
  position: relative;
}

.input-renderer {
  display: flex;
  white-space: pre-wrap;
  word-break: break-all;
}

.blinking-cursor {
  display: inline-block;
  animation: blink 1s step-end infinite;
}

@keyframes blink {

  0%,
  100% {
    background-color: var(--text-color);
    color: var(--bg-color);
  }

  50% {
    background-color: transparent;
    color: var(--text-color);
  }
}

.hidden-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  border: none;
  padding: 0;
  margin: 0;
}
